---
import { Icon } from 'astro-icon/components';
import {
	AnnouncementBar,
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
	StickyTextImageSection,
	CtaCardSection,
} from '@components/odyssey-theme';
import Layout from '../layouts/Page.astro';
import TextAndImageHero from '../components/sections/heros/TextAndImageHero.astro';
import GameList from '../components/sections/GameList.astro';

const seo = {
	title: 'Landing Page #1 | Astro Odyssey Theme',
	description: 'Landing Page #1 | Astro Odyssey Theme',
};


---

<AnnouncementBar
	text="Read Our Latest Blog Post"
	href="/blog/posts/remote-work-mental-health/"
	slot="announcement-bar"
/>
<Layout {seo}>
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>Steam Deals</h1>
            
		</div>
		<div slot="btns-container">
			<Button href="#deals" customIcon
				>Explore <Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment></Button
			>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/download.jpeg"
				alt="Astro Odyssee"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>
   
   
    <GameList />


	<StickyTextImageSection>
		<div slot="text-container">
			<h2>Features</h2>
			<h3>Save Money, Play More</h3>
			<p>
				Missing out on epic discounts for your favorite games is a thing of the past. A Steam deal finder website constantly scans the web, ensuring you never miss a chance to grab that coveted title at a fraction of the price.  Price alerts and discount notifications keep you informed of the hottest deals.
			</p>
			<h3>Discover Hidden Gems</h3>
			<p>
				Steam's massive library can easily make hidden gems go unnoticed. A Steam deal finder website showcases games with deep discounts, unearthing titles you might have missed otherwise.  Curated deals open doors to new genres and fantastic games you wouldn't have found on your own.
			</p>
			<h3>Effortless Deal Hunting</h3>
			<p>
				Forget scouring countless websites and price trackers. A Steam deal finder website simplifies your life by aggregating deals from various retailers and presenting them in a user-friendly format. This saves you precious time, allowing you to spend less time hunting and more time enjoying the games you love!
			</p>
		</div>
		<picture slot="image-container">
			<img
                src="/assets/images/download.jpeg"
				alt="Astro Odyssey"
				loading="lazy"
			/>
		</picture>
	</StickyTextImageSection>

	<CtaCardSection
		background="var(--theme-surface-2)"
		color="var(--theme-on-surface-2)"
	>
		<h2>Start Your Savings Today</h2>
		<p>
			It only takes a couple clicks to have a new, modern website for your
			business or startup.
		</p>
		<Button href="/theme/get-started" customIcon
			>Get Started <Fragment slot="icon">
				<Icon name="ic:baseline-chevron-right" />
			</Fragment></Button
		>
	</CtaCardSection>
</Layout>
